*{
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #e2e2e2, #c9d6ff);

}

.Form {
    width: 850px;
    height: 550px;
    background-color: #fff;
    border-radius: 30px;
    margin: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

.LoginFormBox{
    position:absolute;
    opacity: 1;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    padding: 40px;
    transition: opacity 0.3s ease-in-out;

    form{
        width: 100%;
    }
}

.RegisterFormBox{
    position:absolute;
    opacity: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    padding: 40px;
    transition: opacity 0.3s ease-in-out;

    form{
        width: 100%;
    }
}
    
.inputBox{
    position: relative;
    margin:20px 0;
    input{
        width: 100%;
        padding:13px;
        border:none;
        outline:none;
        border-radius: 8px;
        box-sizing:border-box;
        background-color:#eee;
        color:#333;
        font-size:16px;
    }
    i{
        position: absolute;
        top:50%;
        right:5%;
        transform: translateY(-50%);
    }

}

.btn{
    width:100%;
    height: 48px;
    border-radius:8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color:#7494ec;
    border: none;
    font-size:16px;
    cursor: pointer;
}

.registerBtn{
    background-color:transparent;
    color:white;
    border: 1px solid white;
    margin-bottom: 30px;
    width: 50%;
    padding: 10px 20px;
}

.loginBtn{
    padding: 10px 20px;
    width: 50%;
    background-color:transparent;
    color:white;
    border: 1px solid white;
    margin-bottom: 30px;
}


// 滑动轨道
.toggleBox{
    position:relative;
    width:100%;
    height:100%;
    overflow: hidden;
    pointer-events: none;
}
.togglePanel{
    width:50%;
    height:100%;
    position:absolute;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    text-align:center;
    padding:40px;
    transition:0.6s ease-in-out;
    z-index: 2;
    color:#fff;
    font-size:16px;
    pointer-events: visible;
}
.left{
    left:0;
    transition-delay: 1.2s;
}
.right{
    right:-50%;
    transition-delay: 0.6s;
}

.toggleBox::before {
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    background-color: #7494ec;
    z-index: 2;
    border-radius: 180px;
    transition: 1.8s ease-in-out;
}


// 滑至右侧
.container[class*='active'] .toggleBox::before{
    left:50%;
}


.container[class*='active'] .togglePanel.left{
    left:-50%;
    transition-delay: 0.6s;
}

.container[class*='active'] .togglePanel.right{
    right:0;
    transition-delay: 1.2s;
}

.container[class*='active'] .LoginFormBox{
    opacity: 0;
}
.container[class*='active'] .RegisterFormBox{
    opacity: 1;
}

@media (max-width: 768px) {
    .container {
        height: calc(100vh - 40px);
    }

    .toggleBox::before{
        left:0;
        width:100%;
        top:-270%;
        height: 300%;
        border-radius: 20vw;
    }

    .LoginFormBox{
        bottom: 0;
        width: 100%;
        height: 70%;
        transition-delay: 0.6s;
    }

    .RegisterFormBox{
        top: 0;
        width: 100%;
        height: 70%;
        transition-delay: 0.6s;
    }
    .togglePanel{
        width: 100%;
        height: 30%;
    }

    .togglePanel.left{
        top:0;
    }

    .togglePanel.right{
        bottom:-30%;
        right:0;
    }

    // 切换表单时的样式变动
    // 滑至下方
    .container[class*='active'] .toggleBox::before{
        left: 0;
        width: 100%;
        top: 70%;
        height: 300%;
        border-radius: 20vw;
    }

    .container[class*='active'] .togglePanel.left{
        top: -30%;
        left: 0;
    }
    
    .container[class*='active'] .togglePanel.right{
        bottom: 0;
    }

}


